<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= article[0].title %></title>
  <link rel="stylesheet" type="text/css" href="/css/set/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/article_detail.css" />
</head>
<body>
<%- include("./set/header"); %>

<main>
  <div class="article-detail-top-wrapper">
    <div class="article-detail-head-wrapper">
      <div class="article-detail-contributor-icon"><img src="/userIcon/user1.jpg"></div>
      <p class="article-detail-head-username"><%= article[0].username %></p>
      <div class="article-detail-head-like">♡</div>
      <p>100</p>
    </div>
    <h1 class="article-detail-title"><%= article[0].title %>タイトル</h1>
    <div class="article-detaile-stock-btn-wrapper">
      <button class="article-detaile-stock-btn">ストックする</button>
    </div>
  </div>
  <div class="article-detail-contents-wrapper">
    <div class="article-detail-contents-container">
      <p style="font-weight: 700;font-size: 20px"><%= article[0].article %></p>
      <hr style="margin-top: 10px; color: gainsboro;">
      <p style="margin-top: 10px">記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります</p>
      <hr style="margin-top: 10px; color: gainsboro;">
      <p style="margin-top: 10px">記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります記事のテキストが入ります</p>
    </div>
  </div>
  
  <div class="article-detail-comments-wrapper">
    <div class="article-detail-comments-title-wrapper">
      <div class="article-detail-comments-ico"><img src="/images/ico_comment.png"></div>
      <h1 class="article-detail-comments-title">コメント</h1>
    </div>
    <% article_comments.forEach((info) => { %>
      <div class="article-detail-comments-head">
        <div><img src="/usericon/user1.jpg"></div>
        <p><%= info.username %></p>
      </div>
      <p class="article-detail-comments-comment"><%= info.comment %></p>
      <hr>
    <% }) %>
  </div>

  <div class="article-detail-post-wrapper">
    <h1 class="article-detail-comments-post-title">投稿</h1>
    <form action="/postComment/<%= locals.userid %>" method="POST">
      <textarea name="comment" name="comment" class="article-detail-input-commment"></textarea>
      <button type="submit" class="article-detail-postcomment-btn">投稿する</button>
    </form>
  </div>
</main>

<%- include("./set/footer"); %>
</body>
</html>