<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
<%- include("./set/header"); %>
<main class="mypage-whole-wrapper">
  <div class="mypage-whole-container">
    <!-- ユーザーアイコン部分 -->
    <div class="mypage-usericon-wrapper">
      <div class="mypage-usericon-container" id="mypage_user_icon">
        <a href="change_icon">
          <img src="/userIcon/<%= locals.userid %>.jpg" onerror="this.src='/userIcon/default.png';"/ alt="no pic">
          <div id="user_icon_edit_btn">編集</div>
        </a>
        <p><%= locals.username %></p>
      </div>
    </div>

    <h2 class="mypage-username-title">- ユーザー名</h2>
    <form action="/name_change" method="POST">
      <input type="text" name="username" class="mypage-input-username" value="<%= locals.username %>">
      <button type="submit" class="mypage-username-update-btn"><i class="fas fa-redo"></i>更新する</button>
    </form>
    
    <h2 class="mypage-article-list-title">- 投稿記事一覧</h2>
    <% if(posts.length == 0) { %> 
      <p class="mypage-no-contribution">まだ投稿していません</p>
    <% } else { %> 
      <!-- 投稿時間処理 -->
      <% 
        let months = {
          Jan: "1", 
          Feb: "2", 
          Mar: "3",
          Apr: "4", 
          May: "5", 
          Jun: "6", 
          Jul: "7",
          Aug: "8",
          Sep: "9",
          Oct: "10",
          Nov: "11",
          Dec: "12"
        };
        let weeks = {
          Mon: "月", 
          Tue: "火", 
          Wed: "水",
          Thu: "木", 
          Fri: "金", 
          Sat: "土", 
          Sun: "日"
        };
      %>
      <% posts.forEach((post) => { %>
        <% let time = String(post.contributed_time).split(' '); %>
        <div class="mypage-article-container">
          <p class="mypage-article-voted-title"><a href="/postDetail/<%= post.post_id %>"><%= post.title %></a></p>
          <p><%= time[3] %>/<%= months[time[1]] %>/<%= time[2] %>(<%= weeks[time[0]] %>)<%= String(time[4]).slice(0, -3) %></p>
          <p class="mypage-article-delete"><a href="/delete_post/<%=post.post_id %>"<i class="fas fa-backspace"></i></a></p>
        </div>
      <% }) %>
    <% } %>
    <button class="mypage-btn-delete-account"><i class="fas fa-user-slash"></i>アカウント削除</button>
  </div>
</main>
<%- include("./set/footer"); %>
</body>
<script>

  const mypage_user_icon = document.getElementById("mypage_user_icon");
  const user_icon_edit_btn =  document.getElementById("user_icon_edit_btn");

  // 編集ボタン表示処理
  mypage_user_icon.addEventListener("mouseenter", ()=> {
    user_icon_edit_btn.animate({
      opacity: [0,1]
    }, {
      duration: 200,
      fill: 'forwards'
    })
  })

  // 非表示処理
  mypage_user_icon.addEventListener("mouseleave", ()=> {
    user_icon_edit_btn.animate({
      opacity: [1,0]
    }, {
      duration: 200,
      fill: 'forwards'
    })
  })
</script>
</html>