<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post[0].title %></title>
  <link rel="stylesheet" type="text/css" href="/css/set/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/post_detail.css" />
</head>
<body>
<%- include("./set/header"); %>

<main class="post-detail-whole-wrapper">
  <div class="post-detail-whole-container">
    <div class="post-detail-top-wrapper">
      <div class="post-detail-head-wrapper">
        <div class="post-detail-contributor-icon"><img src="/usericon/<%= post[0].contributor_id %>.jpg"  onerror="this.src='/userIcon/default.png';"/ alt="no pic"></div>
        <p class="post-detail-head-username"><%= post[0].username %></p>
        <div class="post-detail-head-like" id="like">♡</div>
        <p>100</p>
      </div>
      <h1 class="post-detail-title"><%= post[0].title %></h1>
      <p class="post-detail-artist-name"><%= post[0].artist %></p>
      <!-- ストックボタン -->
      <% if (locals.isLoggedIn === false ) { %>
        <div class="post-detaile-stock-btn-wrapper">
          <button class="post-detaile-stock-btn">ストックする</button>
        </div>

      <% } else { %>
        <div class="post-detaile-stock-btn-wrapper">
          <button class="post-detaile-stock-btn" id="stock_btn">ストックする</button>
        </div>
      <% } %>
    </div>
    <div class="post-detail-contents-wrapper">
      <div class="post-detail-contents-container">
        <p style="font-weight: 700;font-size: 20px"><%= post[0].article %></p>
      </div>
    </div>
    
    <div class="post-detail-comments-wrapper">
      <div class="post-detail-comments-title-wrapper">
        <div class="post-detail-comments-ico"><img src="/images/ico_comment.png"></div>
        <h1 class="post-detail-comments-title">コメント</h1>
      </div>
      <% post_comments.forEach((info) => { %>
        <div class="post-detail-comments-head">
          <div><img src="/usericon/<%= info.contributor_id %>.jpg"  onerror="this.src='/userIcon/default.png';"/ alt="no pic"></div>
          <p><%= info.username %></p>
        </div>
        <p class="post-detail-comments-comment"><%= info.comment %></p>
        <hr>
      <% }) %>
    </div>

    <div class="post-detail-post-wrapper">
      <h1 class="post-detail-comments-post-title">投稿</h1>
      <form action="/postComment/<%= post[0].post_id %>" method="POST">
        <textarea name="comment" name="comment" class="post-detail-input-commment"></textarea>
        <button type="submit" class="post-detail-postcomment-btn">投稿する</button>
      </form>
    </div>
  </div>
  <p id="postid"><%= post[0].post_id %></p>
</main>
<%- include("./set/footer"); %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const stock_btn = document.getElementById("stock_btn");
  const like = document.getElementById("like");
  document.getElementById("postid").style.display = "none";
  const post_id = document.getElementById("postid").innerText;
  console.log(post_id);

  // 画面読み込み時ストックチェック
  window.onload = ()=> {
    axios({
      method : 'GET',
      url : 'http://localhost:3800/stock_axios_check',
      params : { id : post_id }
    })
    .then((response)=> {
      if(response["data"]["result"]["length"] ==! 0) {
        stock_btn.innerText = ("ストックから外す");
      }
    })
  }

  // ストック、アンストック
  stock_btn.addEventListener("click", ()=>{
    if(stock_btn.innerText == "ストックから外す") {
      axios({
        method : 'GET',
        url : 'http://localhost:3800/unstock_axios',
        params : { id : post_id }
      })
      .then((response)=> {
        console.log(response);
        stock_btn.innerText = ("ストックする");
      })
    } else {
      axios({
        method : 'GET',
        url : 'http://localhost:3800/stock_axios',
        params : { id : post_id }
      })
      .then((response)=> {
        console.log(response);
        stock_btn.innerText = ("ストックから外す");
      })
    }
  })

</script>
</body>
</html>