<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ストック</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/stock.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
  <%- include("./set/header"); %>
  <main>
    <!-- 全体 -->
    <div class="stock-whole-wrapper">
      <!-- 全体の四角 -->
      <div class="stock-whole-container">
        <!-- タイトルメッセージ -->
        <h1 class="stock-message"><i class="far fa-folder-open"></i>your stocks</h1>

        <!-- ストック記事一覧 -->
        <div class="stock-post-kind">
          <p>List</p>
        </div>
        <div class="stock-stocks-wrapper">
          <% stocks.forEach((stock, index) => { %>
            <% if(index%2 == 0) { %>
              <div class="stock-stock-caption-wrapper-one">
            <% } else { %>
              <div class="stock-stock-caption-wrapper-two">
            <% } %> 
                <div class="stock-stock-user-ico">
                  <img src="/usericon/<%= stock.contributor_id %>.jpg"  onerror="this.src='/userIcon/default.png';"/ alt="no pic">
                </div>
                <div>
                  <a href="/postDetail/<%= stock.post_id %>">
                    <div class="stock-stock-upper-wrapper">
                      <h1 class="stock-stock-title"><%= stock.title %></h1>
                      <p>(<%= stock.artist %>)</p>
                    </div>
                  </a>
                
                  <div class="stock-stock-caption-details">
                    <p class="stock-stock-caption-contributor">- by  <%= stock.username %></p>
                    <!-- 投稿時間処理 -->
                    <% 
                    let months = {
                      Jan: "1", 
                      Feb: "2", 
                      Mar: "3",
                      Apr: "4", 
                      May: "5", 
                      Jun: "6", 
                      Jul: "7",
                      Aug: "8",
                      Sep: "9",
                      Oct: "10",
                      Nov: "11",
                      Dec: "12"
                    };
                    let weeks = {
                      Mon: "月", 
                      Tue: "火", 
                      Wed: "水",
                      Thu: "木", 
                      Fri: "金", 
                      Sat: "土", 
                      Sun: "日"
                    };
                    let time = String(stock.contributed_time).split(' ');
                    %>
                    <p class="stock-stock-caption-postingtime">- <%= time[3] %>/<%= months[time[1]] %>/<%= time[2] %>(<%= weeks[time[0]] %>)<%= String(time[4]).slice(0, -3) %></p>
                    <p class="stock-stock-caption-likes">- <img src="/images/ico_heart_pink_full.png">100</p>
                    <p class="delete-btn"id="delete_btn"><i class="fas fa-backspace"></i></p>
                  </div>
                </div>     
              </div>
          <% }) %>
        <!-- stock-wrapper終了タグ -->
        </div>
      <!-- stcok-whole-container終了タグ -->
      </div>
    </div>
  </main>

  <%- include("./set/footer"); %>
</body>