<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>トップ</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/top.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<%- include("./set/header"); %>

<main class="top-whole-wrapper">
<div class="top-whole-container">
  <div class="top-welcome-wrapper">
    <div class="top-welcome-container">
      <h1 class="top-welcome-message"><span class="top-welcome-message-E">E</span>njoy your music<img src="/images/ico_onpu.png" alt="♬" class="top-logo-onpu"/></h1>
      <div class="top-explain-wrapper">
        <p class="top-musha-message"><span></span>mushaで自分の好きな曲を紹介してください！</p>
        <p class="top-musha-explain">mushaは曲名、アーティスト名と共に曲のよさを紹介(投稿)していただくサービスです。投稿された曲の紹介を見て、あなたの知らなかった曲のよさを知ってみましょう!</p>
      </div>   
      <% if (locals.isLoggedIn === false ) { %>
        <div class="top-article-melody"></div>
        <div class="top-sign-btns">
          <a href="/subscribe"><p class="top-btn-subscribe"><i class="fas fa-user-plus"></i>登録</p></a>
          <a href="/login"><p class="top-btn-login"><i class="fas fa-sign-in-alt"></i>ログイン</p></a>
        </div>
      <% } else { %>
        <div class="top-article-melody-login"></div>
      <% } %>
    </div>
  </div>

  <!-- 投稿一覧 -->
  <div class="top-article-kind">
    <p>New</p>
  </div>

  <div class="top-articles-wrapper">
  <% if(posts == null) { %>
    <p>投稿記事はありません</p>
  <% } else { %>
    <% posts.forEach((post, index) => { %>
      <% if(index%2 == 0) { %>
        <div class="top-article-caption-wrapper-one">
      <% } else { %>
        <div class="top-article-caption-wrapper-two">
      <% } %> 
          <div class="top-article-user-ico">
            <img src="/usericon/<%= post.contributor_id %>.jpg"  onerror="this.src='/userIcon/default.png';"/ alt="no pic">
          </div>
          <div>
            <a href="/postDetail/<%= post.post_id %>">
              <div class="top-article-upper-wrapper">
                <h1 class="top-article-title"><%= post.title %></h1>
                <p>(<%= post.artist %>)</p>
              </div>
            </a>
          
            <div class="top-article-caption-details">
              <p class="top-article-caption-contributor">- by  <%= post.username %></p>
              <!-- 投稿時間処理 -->
              <% 
              let months = {
                Jan: "1", 
                Feb: "2", 
                Mar: "3",
                Apr: "4", 
                May: "5", 
                Jun: "6", 
                Jul: "7",
                Aug: "8",
                Sep: "9",
                Oct: "10",
                Nov: "11",
                Dec: "12"
              };
              let weeks = {
                Mon: "月", 
                Tue: "火", 
                Wed: "水",
                Thu: "木", 
                Fri: "金", 
                Sat: "土", 
                Sun: "日"
              };
              let time = String(post.contributed_time).split(' ');
              %>
              <p class="top-article-caption-postingtime">- <%= time[3] %>/<%= months[time[1]] %>/<%= time[2] %>(<%= weeks[time[0]] %>)<%= String(time[4]).slice(0, -3) %></p>
              <p class="top-article-caption-likes">- <img src="/images/ico_heart_pink_full.png">100</p>
            </div>
          </div>     
        </div>
    <% }) %>
  <% } %>
  </div>
</div>
</main>
<%- include("./set/footer"); %>
<script>
  
</script>
</body>
</html>